section.contacts
    #map.contacts__map
    .container 
        .contacts__box
            h6.title.contacts__title Контакты
            p.contacts__tagtitle Наш офис расположен в БЦ «ЦЕНТР-Т». Вы можете быстро добраться к нам от метро Тульская (3 минуты от метро), либо построить маршрут в навигаторе.
            .contacts__wrap
                .contacts__col
                    .contacts__item 
                        span.contacts__name Звоните
                        a.contacts__value.contacts__value--phone(href="tel:+78005509579") +7 (800) 550-95-79
                    .contacts__item 
                        span.contacts__name Пишите
                        .social__icons 
                            a.social__link(href="#")
                                img.social__icon(src="img/telegram.svg", alt="#")
                            a.social__link(href="#")
                                img.social__icon(src="img/whatsapp.svg", alt="#")
                        a.contacts__value(href="mailto:info@tvoybankir.ru") info@tvoybankir.ru
                    .contacts__item 
                        span.contacts__name График работы
                        span.contacts__value  Пн-Пт: 09:00 - 19:00
                .contacts__col 
                    .contacts__item 
                        span.contacts__name Адрес
                        span.contacts__adress г. Москва, Гамсоновский #[br] переулок, д. 2, стр. 1, БЦ #[br] «ЦЕНТР-Т» (м. Тульская)
                    .contacts__item 
                        span.contacts__name До встречи в офисе
                        img.contacts__foto(src="img/foto-office.png", alt="#")
