footer.footer
    .container 
        .footer__box 
            figure.logo
                img.logo__icon(src="/img/logo-footer.svg", alt="@")
                figcaption.desktop.logo__text.logo__text--white Помогаем взять кредит #[br] для ООО и ИП
            .footer__links 
                a.footer__link(href="#") Пользовательское соглашение
                a.footer__link(href="#") Политика конфиденциальности
            a.footer__dev(href="https://scrum360.ru")
                img(src="img/footer-logo.png", alt="@")

