-
    const reason = [
        {className: 'lg', title: 'Плохая кредитная история', text: 'поможем вам найти выход <br> и восстановить финансовую надежность'},
        {className: 'lg', title: 'Имеются просрочки платежей', text: 'поможем вам найти выход <br> и восстановить финансовую надежность'},
        {className: 'sm', title: 'Вам отказывают банки', text: 'мы поможем решить ваши <br> финансовые вопросы и получить <br> нужное финансирование'},
        {className: 'sm', title: 'Ваш доход ограничен', text: 'Ищем способы увеличить <br> вашу финансовую <br> стабильность и процветание'},
        {className: 'sm', title: 'Кредит нужен срочно', text: 'Поможем вам получить <br> финансовую поддержку быстро'},
        {className: 'lg', title: 'Изменить условия кредита', text: 'хочется снизить процентную ставку, <br> увеличить срок, отказаться от страховки'},
        {className: 'lg', title: 'Оптимизировать ваши траты', text: 'предоставим решения для более выгодных <br> и эффективных кредитных обязательств'}
    ]

section.reason 
    .container 
        h6.title.reason__title Вам #[span.color-blue потребуется помощь] #[br] кредитного брокера, #[span.color-blue если...]
        .reason__box 
            each item in reason 
                div(class=`card reason__card reason__card--${item.className}`)
                    img.card__logo(src="img/logo-decor.svg", alt="@")
                    .card__dot
                    .card__title= item.title
                    .card__text !{item.text}
        p.reason__text Если у Вас возникли вышеперечисленные проблемы или любые сложности в оформлении кредита, то опыт нашего кредитного эксперта позволит вам, как заемщику решить эти задачи в разы эффективнее быстрее и выгоднее, чем если бы Вы делали это своими силами.