:root{
    --color-main: #000;
    --color-1: #4971FF;
    --color-2: #CC013D;
    --color-3: #EDF3F9;
    --color-4: #282828;
    --color-5: #A3A4A5;
    --color-6: #F4F4F4;
}

// MIXINS
	// @mixin NAMEMIXIN
