<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title TvoyBankir
	body
		
		include ./../sections/_header.pug

		include ./../sections/_home.pug

		include ./../sections/_services.pug

		include ./../sections/_calc.pug

		include ./../sections/_info.pug

		include ./../sections/_advantages.pug

		include ./../sections/_steps.pug

		include ./../sections/_reason.pug

		include ./../sections/_partners.pug

		include ./../sections/_info2.pug

		include ./../sections/_contacts.pug
		
		include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug